$color: #2E368F;
$colorHover: #262d79;
// $color: #01B636;
// $colorHover: #15A752;
// $color: #009ABB;
// $colorHover: #007C92;
$radius: 1em;
$transition: .3s;


/*
--------------------------------------------------------------------------
 Fonts
--------------------------------------------------------------------------
*/

/* English Fonts */
@font-face {
    font-family: 'jamsLight';
    src: url('../fonts/jams-Light.woff2');
}
@font-face {
    font-family: 'jamsRegular';
    src: url('../fonts/jams.woff2');
}
@font-face {
    font-family: 'jamsMedium';
    src: url('../fonts/jams-Medium.woff2');
}
@font-face {
    font-family: 'jamsBold';
    src: url('../fonts/jams-Bold.woff2');
}
@font-face {
    font-family: 'jamsSourcesansPro';
    src: url('../fonts/sourcesanspro-regular.woff2');
}

/* Bengali Fonts */
@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/SolaimanLipi.woff2');
}
@font-face {
    font-family: 'AzadPori';
    src: url('../fonts/Azad/pori.woff2') format('woff2'), url('../fonts/Azad/pori.woff') format('woff');
}

// Overrides
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: "smooth";
}

body{
    // font-family: 'jamsLight', 'SolaimanLipi', 'Roboto Condensed', 'OpenSans', 'sans-serif';
    font-family: 'Roboto', 'OpenSans', 'SolaimanLipi', 'sans-serif';
    color: #333;
}

ul,ol,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

// Text colors
.text-accent{
    color: $color;
}

// Button colors
.btn-accent{
    background-color: $color;
    color: #fff;
    transition: $transition;

    &:hover{
        background-color: $colorHover;
        color: #fff;
    }
}

.topbar{
    background-color: $color;

    .elements{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .informations {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            color: #777;
            margin: 0;
            padding: .5em 0;

            .list-item{
                margin-bottom: 0;
                line-height: auto;
                list-style: none;
                transition: $transition;
                
                .link {
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .5em;
                    transition: $transition;
                }
                
                &:hover{
                    .link {
                        opacity: .75;
                    }
                }
            }

            @media screen and (max-width: 767px){
                display: none;
            }
        }

        .social-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: .5em;
            color: #777;
            margin: 0;
            padding: .5em 0;

            .list-item{
                background-color: $color;
                margin-bottom: 0;
                border: 1px solid $colorHover;
                line-height: auto;
                border-radius: .5em;
                overflow: hidden;
                transition: $transition;
                
                .link {
                    width: 30px;
                    height: 30px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition;
                }
                
                &:hover{
                    background-color: #fff;
                    border: 1px solid transparent;
                    .link {
                        color: $color;
                    }
                }
            }
        }

        @media screen and (max-width: 767px){
            justify-content: center;
        }
    }
}


.indicator-container {
    width: 100%;
    height: 5px;
    background-color: #fff;
}
.indicator-bar {
    height: 8px;
    background-color: $color;
    width: 0%;
}

.navbar{
    height: 80px;
    padding: 0;
    border-bottom: 2.5px solid $color;

    .container-xl{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand{
            margin: 0;
            padding: 0;
            min-height: 40px;
            min-width: 104px;

            img{
                height: 40px;
            }
        }

        .navbar-nav{
            height: inherit;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nav-item{
                position: relative;
                height: inherit;
                display: block;

                &:hover{
                    .nav-link{
                        color: $colorHover;
                        box-shadow: inset 0px -35px 0px -30px $colorHover;
                    }
                }
        
                .nav-link{
                    height: inherit;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 1em;
                    color: #333;
                    // font-weight: bold;
                    transition: $transition;
                }

                &:hover .submenu{
                    visibility: visible;
                }

                .submenu{
                    position: absolute;
                    visibility: hidden;
                    width: 200px;
                    border: 1px solid #ededed;
                    z-index: 1;

                    .sm-item{
                        position: relative;
                        list-style: none;
                        border-bottom: 1px solid #ededed;

                        .sm-link{
                            display: block;
                            background-color: #fff;
                            color: #333;
                            padding: .75em 1em;

                            &:hover{
                                background-color: $color;
                                color: #fff;
                            }
                        }

                        &:last-child{
                            border-bottom: none;
                        }

                        &:hover .childmenu{
                            visibility: visible;
                        }
                        .childmenu{
                            position: absolute;
                            left: 100%;
                            top: -1px;
                            visibility: hidden;
                            width: 200px;
                            border: 1px solid #ededed;
                            z-index: 1;
        
                            .cm-item{
                                list-style: none;
                                border-bottom: 1px solid #ededed;
        
                                .cm-link{
                                    display: block;
                                    background-color: #fff;
                                    color: #333;
                                    padding: .75em 1em;
        
                                    &:hover{
                                        background-color: $color;
                                        color: #fff;
                                    }
                                }
        
                                &:last-child{
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}


// Common
.text-justify{
    text-align: justify;
}
.text-justify-center{
    text-align: justify;
    text-align-last: center;
}

.section{
    padding-top: 3em;
    padding-bottom: 3em;

    .section-title{
        text-align: center;
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: .5em;
    }
    .section-overview{
        color: #666;
        margin-bottom: 3em;
    }
}


// Home - Slider
.carousel{

    .carousel-inner{

        .carousel-item{
            height: 435px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media only screen and (max-width: 767px) {
                height: 25vh;
                width: 100%;
            }

            .box{
                position: absolute;
                height: 54%;
                width: 28%;
                background-color: rgba(255, 255, 255, 0.25);
                border-radius: 1em;
                overflow: hidden;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
                transition: $transition;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.75);
                }

                .title{
                    background-color: $color;
                    text-transform: capitalize;
                    padding: 15px;
                    color: #fff;
                    font-size: 20px;
                    line-height: 25px;
                }
                .body{
                    padding: 15px;
                    color: #000;
                    line-height: 1.25em;

                    .description{
                        display: block;
                    }
                }

                @media only screen and (max-width: 767px) {
                    height: 100px;
                    width: 175px;
                    border-radius: .5em;

                    .title{
                        font-weight: normal;
                        font-size: 12px!important;
                        line-height: 12px!important;
                        border-bottom: none!important;
                        padding: 7.5px!important;
                    }
                    .body{
                        color: #fff;
                        line-height: 1em!important;
                        padding: 7.5px!important;

                        .description{
                            display: none!important;
                        }

                        .btn{
                            width: 75px!important;
                            font-size: 8px!important;
                            padding: 5px 0!important;
                            margin: 8px 0 0 0!important;
                        }
                    }
                }
            }
        }
    }
    .carousel-indicators{
        position: absolute;
        bottom: 0;

        li{
            background-color: $colorHover;
            border: 5px solid $color;
            height: 1em;
            width: 1em;
            border-radius: 50%;
        }
        .active{
            background-color: $colorHover;
        }
    }
    .carousel-control-next, .carousel-control-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 75px;
        border-radius: 0 50% 50% 0;
        background-color: $color;
        color: #fff;
        text-align: center;
        opacity: 0;
        transition: .125s;

        &:hover{
            opacity: 1!important;
        }

        @media only screen and (max-width: 767px) {
            height: 35px;
            width: 35px;

            .carousel-control-prev-icon, .carousel-control-next-icon{
                height: 1rem;
                width: 1rem;
            }
        }
    }

    &:hover{
        .carousel-control-next, .carousel-control-prev{
            opacity: .5;
        }
    }

    .carousel-control-next {
        border-radius: 50% 0 0 50%;
    }
}


// Home - Circle of Care
.home-circle-of-care{
    
    .card{
        border-radius: $radius;
        overflow: hidden;
        cursor: pointer;
        border: 1px dashed #ededed;
        padding: 1em;
        transition: $transition;

        &:hover{
            border: 1px dashed $color;
            box-shadow: 0px 16px 20px -8px rgba(0,0,0,0.25);
            transform: translateY(-1em);

            .title{
                color: $colorHover;
            }

            .link .arrow{
                animation: fadeInRight 1s infinite;
            }
        }

        .image-frame{
            border-radius: ($radius - .5em);
            overflow: hidden;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding: 0;

            .contents{
                .title{
                    margin-top: .5em;
                    font-size: 1.5em;
                    font-weight: bold;
                    text-transform: capitalize;
                    transition: $transition;
                }
                .overview{
                    color: #666;
                    margin-top: .75em;
                    margin-bottom: .75em;
                }
            }
            .link{
                text-decoration: none;
                font-weight: bold;
                color: $color;
                transition: $transition;
                
                &:hover{
                    color: $colorHover;
                }
            }
        }
    }
}


// Home - Appointment
.home-appointment{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, #019ec5a9, rgba(0, 106, 133, 0.644));
    
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .image-frame{
        height: 350px;

        img{
            height: 100%;
        }
    }
    
    .informations{
        min-height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1em;

        .title{
            font-size: 3em;
            font-weight: bold;
            color: #fff;

            @media screen and (max-width: 767px){
                font-size: 2em;
            }
        }
        .overview{
            color: rgba(255, 255, 255, 0.9);
        }
        .benefits{
            color: rgba(255, 255, 255, 0.9);

            .item{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                svg{
                    color: #fff;
                    margin-right: .5em;
                }
            }
        }
    }
}


// Home - Doctors
.doctors{
    
    .card{
        border-radius: $radius;
        overflow: hidden;
        border: 2px dashed #ededed;
        padding: 1em;
        transition: $transition;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        &:hover{
            border: 2px dashed $color;
            box-shadow: 0px 16px 20px -8px rgba(0,0,0,0.25);
            transform: translateY(-1em);

            .title{
                color: $colorHover;
            }

            .link .arrow{
                animation: fadeInRight 1s infinite;
            }
        }

        .image-frame{
            height: 125px;
            width: 125px;
            border-radius: 50%;
            overflow: hidden;
            transition: $transition;

            img{
                height: 100%;
                width: 100%;
            }
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding: 0;

            .contents{
                .title{
                    margin-top: .5em;
                    font-size: 1.25em;
                    text-transform: capitalize;
                    transition: $transition;
                }
                .designation{
                    margin-top: .5em;
                    font-size: .75em;
                    text-transform: capitalize;
                    background-color: $color;
                    color: #fff;
                    display: inline-block;
                    padding: .25em .75em;
                    border-radius: .5em;
                    transition: $transition;
                }
                .degrees{
                    margin-top: .5em;
                    font-size: .75em;
                    text-transform: capitalize;
                    transition: $transition;
                }
            }
            
            .link-group{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                margin-top: .75em;

                .link{
                    text-decoration: none;
                    font-weight: bold;
                    color: $color;
                    transition: $transition;
                    
                    &:hover{
                        color: $colorHover;
                    }
                }
            }
        }
    }
}

// Doctors - Show
.doctors-show{
    .sidebar{
        border: 1px dashed #ededed;
        border-radius: 1em;
        overflow: hidden;

        .body{
            padding: 1em;

            .contents{
                .title{
                    color: $color;
                    font-size: 1.35em;
                    margin-bottom: .5em;
                }
                .designation{
                    font-size: .75em;
                    margin-bottom: .5em;
                }
                .degrees{
                    font-size: 1em;
                }
            }
            .link-group{
                margin-top: 2em;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .informations{
        display: flex;
        flex-direction: column;
        gap: 3em;

        .part{
            .title{
                font-size: 1.35em;
                margin-bottom: .5em;
            }
            .body{
                color: #666;
                display: flex;
                flex-direction: column;
                gap: .5em;

                .degree{
                    list-style: none;
                }

                .link{
                    display: block;
                    color: #666;
                }
            }
        }
    }
}

// Home - Statistics
.home-statistics{
    max-height: 350px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, #019ec5a9, rgba(0, 106, 133, 0.644));
    
    .counter{
        text-align: center;
        color: #fff;
        
        .digit{
            font-weight: bold;
            font-size: 50px;

            @media screen and (max-width: 767px) {
                font-size: 25px;
            }
        }
        .label{
            @media screen and (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

// Home - faq
.home-faq{
    .accordion{
        .accordion-item{
            margin-bottom: .75em;
            border: 1px solid #F7F7F7;
            border-radius: 1em;
            overflow: hidden;

            .accordion-header{
                .accordion-button{
                    &:focus {
                        box-shadow: none;
                    }
                    &:not(.collapsed) {
                        color: $colorHover;
                        background-color: #fff;
                        box-shadow: none;
                    }
                }
            }
            .accordion-body{
                background-color: #F4F4F4;
            }
        }
    }
}


// Services
.service-article{
    padding: 1.5em 1em;
    border: 1px dashed #ededed;
    border-radius: 1em;
    overflow: hidden;

    p{
        margin-bottom: 1.5em;
    }
}


// Research
.research{
    height: 100%;
    border-radius: $radius;
    overflow: hidden;
    border: 2px dashed #ededed;
    padding: 1em;
    transition: $transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    &:hover{
        border: 2px dashed $color;
        box-shadow: 0px 16px 20px -8px rgba(0,0,0,0.25);
        transform: translateY(-1em);

        .title{
            color: $colorHover;
        }

        .link .arrow{
            animation: fadeInRight 1s infinite;
        }
    }

    .informations{
        .title{
            margin-top: .5em;
            font-size: 1.25em;
            font-weight: bold;
            text-transform: capitalize;
            transition: $transition;
        }
        .date{
            color: $colorHover;
        }
        .overview{
            color: #666;
        }
    }
    
    .link-group{
        display: flex;
        justify-content: space-between;
        gap: 1em;

        .link{
            text-decoration: none;
            font-weight: bold;
            color: $color;
            transition: $transition;
            
            &:hover{
                color: $colorHover;
            }
        }
    }
}


// blog-post
.blog-post{
    height: 100%;
    border-radius: $radius;
    overflow: hidden;
    border: 2px dashed #ededed;
    padding: 1em;
    transition: $transition;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    &:hover{
        border: 2px dashed $color;
        box-shadow: 0px 16px 20px -8px rgba(0,0,0,0.25);
        transform: translateY(-1em);

        .title{
            color: $colorHover;
        }

        .link .arrow{
            animation: fadeInRight 1s infinite;
        }
    }

    .informations{
        .image-frame{
            border-radius: ($radius - .5em);
            overflow: hidden;
        }
        iframe{
            border-radius: $radius;
            width: 100%;
            height: auto;
        }

        .title{
            margin: .5em 0;
            font-size: 1.25em;
            font-weight: bold;
            text-transform: capitalize;
            transition: $transition;
        }
        .date{
            color: $colorHover;
        }
        .overview{
            color: #666;
        }
    }
    
    .link-group{
        display: flex;
        justify-content: space-between;
        gap: 1em;

        .link{
            text-decoration: none;
            font-weight: bold;
            color: $color;
            transition: $transition;
            
            &:hover{
                color: $colorHover;
            }
        }
    }
}

// Blog - Show
.social-share-icon {
    display: flex;
    font-display: row;
    align-items: center;
    gap: 0.5em;

    .icon {
        cursor: pointer;

        img {
            transition: 0.75s;
        }
        &:hover {
            img {
                transform: rotate(360deg);
            }
        }
    }
}
.featured-image{
    img{
        border-radius: 15px;
    }
}
.blog-title{}
.blog-details {
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 1em;
        color: #444;
    }
    .article{
        font-size: 20px;
        line-height: 30px;
    
        @media only screen and (max-width: 767px){
            img{
            max-width: 100%;
            }
        }
    }
}
  
.author-information{
    position: relative;
    display: block;
    height: 7.5em;

    .image{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 5px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        img{
            height: 100%;
            width: 100%;
        }
    }
    .information{
        position: absolute;
        top: 50%;
        left: 22.5%;
        transform: translateY(-50%) translateX(-50%);

        @media only screen and (max-width: 767px){
            left: 30%;
        }

        .name{
            font-weight: bold;
            font-size: 15px;
        }
        .date{
            font-weight: lighter;
            font-size: 12px;
        }
    }
}

.blog-tags{
    text-align: center;
}

// Contact - Map
.map{
    height: 500px;
    width: 100%;

    iframe{
        height: 100%;
        width: 100%;
    }
}


// About
.about-page{
    padding: 3em 0;

    .informations{
        .page-title{
            margin-bottom: .5em;
        }
        .overview{
            color: #666;
            margin-bottom: 2em;
        }
        .service-title{
            margin-bottom: .25em;
        }
        .services{

            .service-item{
                list-style: none;
            }
        }
    }
}

// Contact Page
.contact-page{
    padding: 7.5em 0;

    .sec-head{
        margin: 0;
    }
    form{

        .input-group{
            .input-group-text{
                color: #fff;
                background-color: $color;
                border: 1px solid $color;
                border-radius: 0;
            }
            .form-control{
                border: 1px solid $color;
                border-radius: 0;
                transition: $transition;
                
                &:focus{
                    box-shadow: none;
                    color: #fff;
                    background-color: $colorHover;

                    &::placeholder{
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5em;
        color: #777;
        margin: 0;

        .list-item{
            background-color: $color;
            margin-bottom: 0;
            border: 1px solid $colorHover;
            line-height: auto;
            border-radius: .5em;
            overflow: hidden;
            transition: $transition;
            
            .link {
                width: 30px;
                height: 30px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $transition;
            }
            
            &:hover{
                background-color: #fff;
                border: 1px solid $color;
                .link {
                    color: $color;
                }
            }
        }
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .fitem{
            display: flex;
            align-items: center;
            gap: .5em;
            transition: $transition;

            &:hover{
                color: $colorHover;
            }
        }
        .address{
            margin: 1em 0;
            color: #666;
        }
        .link{
            text-decoration: none;
            color: #666;
        }
        svg{
            flex-shrink: 0;
            color: $colorHover;
        }
    }
}

// Appointment Page
.appointment-page{
    padding-top: 4em;

    form{

        .input-group{
            .input-group-text{
                color: #fff;
                background-color: $color;
                border: 1px solid $color;
                border-radius: 0;
            }
            .form-control{
                border: 1px solid $color;
                border-radius: 0;
                transition: $transition;
                
                &:focus{
                    box-shadow: none;
                    color: #fff;
                    background-color: $colorHover;

                    &::placeholder{
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

    .recent-blogs{
        padding: 2em 0;
    }
}

// About - Journey
.our-journey{    
    .carousel-indicators{
        display: flex;
        position: relative;
        margin: 0;
        margin-bottom: 2.5em;
        justify-content: space-between;

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 1px;
            right: 1px;
            height: 1px;
            border-top-width: 5px;
            border-top-style: solid;
            border-color: $color;
            z-index: -1;

            @media screen and (max-width: 767px) {
                border-top-width: 1px;
            }
        }
        

        li{
            color: $colorHover;
            background-color: #fff;
            text-indent: 0!important;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            border: 5px solid $color;
            height: 5em;
            width: 5em;
            border-radius: 50%;
            transition: .3s;
            
            @media screen and (max-width: 767px) {
                border: 1px solid $color;
                height: 2em;
                width: 4em;
                border-radius: 1em;
                padding: 0 5px;
                font-size: 14px;
            }
        }
        .active{
            color: #fff;
            background-color: $colorHover;
        }
    }
    .carousel-indicators [data-bs-target]{
        opacity: 1;
    }
    .carousel-inner{
        
        .carousel-item{
            height: auto;

            .col{
                @media screen and (max-width: 767px){
                    flex: 1 0 100%;
                }
            }
        }
    }
}

// Jump
.jump{
    position: fixed;
    left: 0;
    bottom: 85px;
    z-index: 232;
    background-color: $color;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    cursor: pointer;
    transition: $transition;
    display: none;

    &:hover{
        background-color: $colorHover;
    }

    .icon{
        height: 50px;
        width: 50px;
        display: flex;
        place-items: center;
        
        svg{
            height: 85%;
            width: 85%;
            color: #fff;
        }
    }
}

// Bottom Navigator
.bottom-navigator{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $colorHover;
    border-top: 1px solid #fff;
    z-index: 1022;
  
    .bn-navs{
        display: flex;
        justify-content: space-around;
    
        .bn-nav{
            padding: 1em 1.5em;
            color: #fff;
            cursor: pointer;
            transition: .3s;
    
            &:hover{
                background-color: $color;
            }
        }
    }
}

// Off canvus sidebar
.offcanvas{
    width: 75%;

    .offcanvas-sidebar-contents{
        overflow-y: scroll;
        
        .offcanvas-header{
            display: flex;
            align-items: center;
            border-bottom: 2.5px solid $color;
            height: 85px;
            padding: 0.5em 1em;
        
            .logo{
                height: 40px;
            }
        }
        .oc-list-group{
            padding-top: 2em;
            padding-bottom: 1em;

            .oc-li1{
                list-style: none;
                
                .oc-li1-link{
                    display: block;
                    padding: .5em 1em;
                    color: #333;
                    cursor: pointer;
                    transition: $transition;
                    
                    &:hover{
                        color: #fff;
                        background-color: $colorHover;

                        svg{
                            color: #fff;
                        }
                    }
                    svg{
                        color: $color;
                    }
                }

                .oc-list-group2{
                    padding-left: 1em;

                    .oc-li2{
                        list-style: none;
                        
                        .oc-li2-link{
                            display: block;
                            padding: .5em 1em;
                            color: #333;
                            cursor: pointer;
                            transition: $transition;
                            
                            &:hover{
                                background-color: #ededed;
                            }
                            
                            svg{
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
      
    @media (max-width: 991.98px) {
        .offcanvas-collapse {
            position: fixed;
            z-index: 1021;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 80%;
            overflow-y: auto;
            visibility: hidden;
            background-color: #fff;
            border-left: 1px solid #ededed;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        }
        .offcanvas-collapse.open {
            visibility: visible;
            transform: translateX(-100%);
        }
    }
}

// Footer
.footer{
    background-color: $color;
    color: #fff;
    padding: 4em 0;

    .foo-title{
        text-transform: capitalize;
        margin-bottom: .5em;
    }
    .about{
        color: rgba(255, 255, 255, 0.75);
    }
    .social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5em;
        color: #777;
        margin: 0;

        .list-item{
            background-color: $color;
            margin-bottom: 0;
            border: 1px solid $colorHover;
            line-height: auto;
            border-radius: .5em;
            overflow: hidden;
            transition: $transition;
            
            .link {
                width: 30px;
                height: 30px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: $transition;
            }
            
            &:hover{
                background-color: #fff;
                border: 1px solid transparent;
                .link {
                    color: $color;
                }
            }
        }
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .fitem{
            display: flex;
            align-items: center;
            gap: .5em;
            transition: $transition;

            &:hover{
                color: #fff;
            }
        }
        .address{
            margin: 1em 0;
            color: rgba(255, 255, 255, 0.75);
        }
        .link{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.75);
        }
        svg{
            flex-shrink: 0;
            color: #fff;
        }
    }
}

// Copyright
.copyright{
    background-color: $colorHover;
    color: rgba(255, 255, 255, 0.9);

    .container-xl{
        .elements{
            text-align: center;
            padding: 1em;

            .developer{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}


// Animation
@keyframes fadeInRight {
    0% {
        opacity: 0.5;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(1em);
    }
    100% {
        opacity: .5;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1em);
    }
    100% {
        transform: translateY(0);
    }
}