/*
--------------------------------------------------------------------------
 Fonts
--------------------------------------------------------------------------
*/
/* English Fonts */
@font-face {
  font-family: "jamsLight";
  src: url("../fonts/jams-Light.woff2");
}

@font-face {
  font-family: "jamsRegular";
  src: url("../fonts/jams.woff2");
}

@font-face {
  font-family: "jamsMedium";
  src: url("../fonts/jams-Medium.woff2");
}

@font-face {
  font-family: "jamsBold";
  src: url("../fonts/jams-Bold.woff2");
}

@font-face {
  font-family: "jamsSourcesansPro";
  src: url("../fonts/sourcesanspro-regular.woff2");
}

/* Bengali Fonts */
@font-face {
  font-family: "SolaimanLipi";
  src: url("../fonts/SolaimanLipi.woff2");
}

@font-face {
  font-family: "AzadPori";
  src: url("../fonts/Azad/pori.woff2") format("woff2"), url("../fonts/Azad/pori.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: "smooth";
}

body {
  font-family: "Roboto", "OpenSans", "SolaimanLipi", "sans-serif";
  color: #333;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-accent {
  color: #01b636;
}

.btn-accent {
  background-color: #01b636;
  color: #fff;
  transition: 0.3s;
}

.btn-accent:hover {
  background-color: #15a752;
  color: #fff;
}

.topbar {
  background-color: #01b636;
}

.topbar .elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .elements .informations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  color: #777;
  margin: 0;
  padding: 0.5em 0;
}

.topbar .elements .informations .list-item {
  margin-bottom: 0;
  line-height: auto;
  list-style: none;
  transition: 0.3s;
}

.topbar .elements .informations .list-item .link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  transition: 0.3s;
}

.topbar .elements .informations .list-item:hover .link {
  opacity: 0.75;
}

@media screen and (max-width: 767px) {
  .topbar .elements .informations {
    display: none;
  }
}

.topbar .elements .social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  color: #777;
  margin: 0;
  padding: 0.5em 0;
}

.topbar .elements .social-links .list-item {
  background-color: #01b636;
  margin-bottom: 0;
  border: 1px solid #15a752;
  line-height: auto;
  border-radius: 0.5em;
  overflow: hidden;
  transition: 0.3s;
}

.topbar .elements .social-links .list-item .link {
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.topbar .elements .social-links .list-item:hover {
  background-color: #fff;
  border: 1px solid transparent;
}

.topbar .elements .social-links .list-item:hover .link {
  color: #01b636;
}

@media screen and (max-width: 767px) {
  .topbar .elements {
    justify-content: center;
  }
}

.indicator-container {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.indicator-bar {
  height: 8px;
  background-color: #01b636;
  width: 0%;
}

.navbar {
  height: 80px;
  padding: 0;
  border-bottom: 2.5px solid #01b636;
}

.navbar .container-xl {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container-xl .navbar-brand {
  margin: 0;
  padding: 0;
  min-height: 40px;
  min-width: 104px;
}

.navbar .container-xl .navbar-brand img {
  height: 60px;
}

.navbar .container-xl .navbar-nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container-xl .navbar-nav .nav-item {
  position: relative;
  height: inherit;
  display: block;
}

.navbar .container-xl .navbar-nav .nav-item:hover .nav-link {
  color: #15a752;
  box-shadow: inset 0px -35px 0px -30px #15a752;
}

.navbar .container-xl .navbar-nav .nav-item .nav-link {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  color: #333;
  transition: 0.3s;
}

.navbar .container-xl .navbar-nav .nav-item:hover .submenu {
  visibility: visible;
}

.navbar .container-xl .navbar-nav .nav-item .submenu {
  position: absolute;
  visibility: hidden;
  width: 200px;
  border: 1px solid #ededed;
  z-index: 1;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item {
  position: relative;
  list-style: none;
  border-bottom: 1px solid #ededed;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .sm-link {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 0.75em 1em;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .sm-link:hover {
  background-color: #01b636;
  color: #fff;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item:last-child {
  border-bottom: none;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item:hover .childmenu {
  visibility: visible;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu {
  position: absolute;
  left: 100%;
  top: -1px;
  visibility: hidden;
  width: 200px;
  border: 1px solid #ededed;
  z-index: 1;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item {
  list-style: none;
  border-bottom: 1px solid #ededed;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .cm-link {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 0.75em 1em;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .cm-link:hover {
  background-color: #01b636;
  color: #fff;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item:last-child {
  border-bottom: none;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item:hover .childmenu2 {
  visibility: visible;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .childmenu2 {
  position: absolute;
  left: 100%;
  top: -1px;
  visibility: hidden;
  width: 200px;
  border: 1px solid #ededed;
  z-index: 1;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .childmenu2 .cm-item2 {
  list-style: none;
  border-bottom: 1px solid #ededed;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .childmenu2 .cm-item2 .cm-link2 {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 0.75em 1em;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .childmenu2 .cm-item2 .cm-link2:hover {
  background-color: #01b636;
  color: #fff;
}

.navbar .container-xl .navbar-nav .nav-item .submenu .sm-item .childmenu .cm-item .childmenu2 .cm-item2:last-child {
  border-bottom: none;
}

.text-justify {
  text-align: justify;
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;
}

.section {
  padding-top: 3em;
  padding-bottom: 3em;
}

.section .section-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.section .section-overview {
  color: #666;
  margin-bottom: 3em;
}

.carousel .carousel-inner .carousel-item {
  height: 485px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-item {
    height: 25vh;
    width: 100%;
  }
}

.carousel .carousel-inner .carousel-item .box {
  position: absolute;
  height: 54%;
  width: 28%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1em;
  overflow: hidden;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.carousel .carousel-inner .carousel-item .box:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.carousel .carousel-inner .carousel-item .box .title {
  background-color: #01b636;
  text-transform: capitalize;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
}

.carousel .carousel-inner .carousel-item .box .body {
  padding: 15px;
  color: #000;
  line-height: 1.25em;
}

.carousel .carousel-inner .carousel-item .box .body .description {
  display: block;
}

@media only screen and (max-width: 767px) {
  .carousel .carousel-inner .carousel-item .box {
    height: 100px;
    width: 175px;
    border-radius: 0.5em;
  }
  .carousel .carousel-inner .carousel-item .box .title {
    font-weight: normal;
    font-size: 12px !important;
    line-height: 12px !important;
    border-bottom: none !important;
    padding: 7.5px !important;
  }
  .carousel .carousel-inner .carousel-item .box .body {
    color: #fff;
    line-height: 1em !important;
    padding: 7.5px !important;
  }
  .carousel .carousel-inner .carousel-item .box .body .description {
    display: none !important;
  }
  .carousel .carousel-inner .carousel-item .box .body .btn {
    width: 75px !important;
    font-size: 8px !important;
    padding: 5px 0 !important;
    margin: 8px 0 0 0 !important;
  }
}

.carousel .carousel-indicators {
  position: absolute;
  bottom: 2em;
}

.carousel .carousel-indicators li {
  background-color: #15a752;
  border: 5px solid #01b636;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.carousel .carousel-indicators .active {
  background-color: #15a752;
}

.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 75px;
  border-radius: 0 50% 50% 0;
  background-color: #01b636;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 0.125s;
}

.carousel .carousel-control-next:hover,
.carousel .carousel-control-prev:hover {
  opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
  .carousel .carousel-control-next,
  .carousel .carousel-control-prev {
    height: 35px;
    width: 35px;
  }
  .carousel .carousel-control-next .carousel-control-prev-icon,
  .carousel .carousel-control-next .carousel-control-next-icon,
  .carousel .carousel-control-prev .carousel-control-prev-icon,
  .carousel .carousel-control-prev .carousel-control-next-icon {
    height: 1rem;
    width: 1rem;
  }
}

.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  opacity: 0.5;
}

.carousel .carousel-control-next {
  border-radius: 50% 0 0 50%;
}

.home-circle-of-care .card {
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  border: 1px dashed #ededed;
  padding: 1em;
  transition: 0.3s;
}

.home-circle-of-care .card:hover {
  border: 1px dashed #01b636;
  box-shadow: 0px 16px 20px -8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1em);
  z-index: 1001;
}

.home-circle-of-care .card:hover .title {
  color: #15a752;
}

.home-circle-of-care .card:hover .link .arrow {
  animation: fadeInRight 1s infinite;
}

.home-circle-of-care .card .image-frame {
  border-radius: 0.5em;
  overflow: hidden;
}

.home-circle-of-care .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.home-circle-of-care .card .card-body .contents .title {
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s;
}

.home-circle-of-care .card .card-body .contents .overview {
  color: #666;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.home-circle-of-care .card .card-body .link {
  text-decoration: none;
  font-weight: bold;
  color: #01b636;
  transition: 0.3s;
}

.home-circle-of-care .card .card-body .link:hover {
  color: #15a752;
}

.home-appointment {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, #019ec5a9, rgba(0, 106, 133, 0.644));
}

.home-appointment .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-appointment .image-frame {
  height: 350px;
}

.home-appointment .image-frame img {
  height: 100%;
}

.home-appointment .informations {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

.home-appointment .informations .title {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .home-appointment .informations .title {
    font-size: 2em;
  }
}

.home-appointment .informations .overview {
  color: rgba(255, 255, 255, 0.9);
}

.home-appointment .informations .benefits {
  color: rgba(255, 255, 255, 0.9);
}

.home-appointment .informations .benefits .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-appointment .informations .benefits .item svg {
  color: #fff;
  margin-right: 0.5em;
}

.doctors .card {
  border-radius: 1em;
  overflow: hidden;
  border: 2px dashed #ededed;
  padding: 1em;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.doctors .card:hover {
  border: 2px dashed #01b636;
  box-shadow: 0px 16px 20px -8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1em);
}

.doctors .card:hover .title {
  color: #15a752;
}

.doctors .card:hover .link .arrow {
  animation: fadeInRight 1s infinite;
}

.doctors .card .image-frame {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}

.doctors .card .image-frame img {
  height: 100%;
  width: 100%;
}

.doctors .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
}

.doctors .card .card-body .contents .title {
  margin-top: 0.5em;
  font-size: 1.25em;
  text-transform: capitalize;
  transition: 0.3s;
}

.doctors .card .card-body .contents .designation {
  margin-top: 0.5em;
  font-size: 0.75em;
  text-transform: capitalize;
  background-color: #01b636;
  color: #fff;
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
  transition: 0.3s;
}

.doctors .card .card-body .contents .degrees {
  margin-top: 0.5em;
  font-size: 0.75em;
  text-transform: capitalize;
  transition: 0.3s;
}

.doctors .card .card-body .link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 0.75em;
}

.doctors .card .card-body .link-group .link {
  text-decoration: none;
  font-weight: bold;
  color: #01b636;
  transition: 0.3s;
}

.doctors .card .card-body .link-group .link:hover {
  color: #15a752;
}

.doctors-show .sidebar {
  border: 1px dashed #ededed;
  border-radius: 1em;
  overflow: hidden;
}

.doctors-show .sidebar .body {
  padding: 1em;
}

.doctors-show .sidebar .body .contents .title {
  color: #01b636;
  font-size: 1.35em;
  margin-bottom: 0.5em;
}

.doctors-show .sidebar .body .contents .designation {
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

.doctors-show .sidebar .body .contents .degrees {
  font-size: 1em;
}

.doctors-show .sidebar .body .link-group {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.doctors-show .informations {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.doctors-show .informations .part .title {
  font-size: 1.35em;
  margin-bottom: 0.5em;
}

.doctors-show .informations .part .body {
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.doctors-show .informations .part .body .degree {
  list-style: none;
}

.doctors-show .informations .part .body .link {
  display: block;
  color: #666;
}

.home-statistics {
  max-height: 350px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, #019ec5a9, rgba(0, 106, 133, 0.644));
}

.home-statistics .counter {
  text-align: center;
  color: #fff;
}

.home-statistics .counter .digit {
  font-weight: bold;
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .home-statistics .counter .digit {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .home-statistics .counter .label {
    font-size: 12px;
  }
}

.home-faq .accordion .accordion-item {
  margin-bottom: 0.75em;
  border: 1px solid #f7f7f7;
  border-radius: 1em;
  overflow: hidden;
}

.home-faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}

.home-faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #15a752;
  background-color: #fff;
  box-shadow: none;
}

.home-faq .accordion .accordion-item .accordion-body {
  background-color: #f4f4f4;
}

.service-article {
  padding: 1.5em 1em;
  border: 1px dashed #ededed;
  border-radius: 1em;
  overflow: hidden;
}

.service-article p {
  margin-bottom: 1.5em;
}

.research {
  height: 100%;
  border-radius: 1em;
  overflow: hidden;
  border: 2px dashed #ededed;
  padding: 1em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.research:hover {
  border: 2px dashed #01b636;
  box-shadow: 0px 16px 20px -8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1em);
}

.research:hover .title {
  color: #15a752;
}

.research:hover .link .arrow {
  animation: fadeInRight 1s infinite;
}

.research .informations .title {
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s;
}

.research .informations .date {
  color: #15a752;
}

.research .informations .overview {
  color: #666;
}

.research .link-group {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.research .link-group .link {
  text-decoration: none;
  font-weight: bold;
  color: #01b636;
  transition: 0.3s;
}

.research .link-group .link:hover {
  color: #15a752;
}

.blog-post {
  height: 100%;
  border-radius: 1em;
  overflow: hidden;
  border: 2px dashed #ededed;
  padding: 1em;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.blog-post:hover {
  border: 2px dashed #01b636;
  box-shadow: 0px 16px 20px -8px rgba(0, 0, 0, 0.25);
  transform: translateY(-1em);
}

.blog-post:hover .title {
  color: #15a752;
}

.blog-post:hover .link .arrow {
  animation: fadeInRight 1s infinite;
}

.blog-post .informations .image-frame {
  border-radius: 0.5em;
  overflow: hidden;
}

.blog-post .informations iframe {
  border-radius: 1em;
  width: 100%;
  height: auto;
}

.blog-post .informations .title {
  margin: 0.5em 0;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: capitalize;
  transition: 0.3s;
}

.blog-post .informations .date {
  color: #15a752;
}

.blog-post .informations .overview {
  color: #666;
}

.blog-post .link-group {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.blog-post .link-group .link {
  text-decoration: none;
  font-weight: bold;
  color: #01b636;
  transition: 0.3s;
}

.blog-post .link-group .link:hover {
  color: #15a752;
}

.social-share-icon {
  display: flex;
  font-display: row;
  align-items: center;
  gap: 0.5em;
}

.social-share-icon .icon {
  cursor: pointer;
}

.social-share-icon .icon img {
  transition: 0.75s;
}

.social-share-icon .icon:hover img {
  transform: rotate(360deg);
}

.featured-image img {
  border-radius: 15px;
}

.blog-details p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 1em;
  color: #444;
}

.blog-details .article {
  font-size: 20px;
  line-height: 30px;
}

@media only screen and (max-width: 767px) {
  .blog-details .article img {
    max-width: 100%;
  }
}

.author-information {
  position: relative;
  display: block;
  height: 7.5em;
}

.author-information .image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.author-information .image img {
  height: 100%;
  width: 100%;
}

.author-information .information {
  position: absolute;
  top: 50%;
  left: 22.5%;
  transform: translateY(-50%) translateX(-50%);
}

@media only screen and (max-width: 767px) {
  .author-information .information {
    left: 30%;
  }
}

.author-information .information .name {
  font-weight: bold;
  font-size: 15px;
}

.author-information .information .date {
  font-weight: lighter;
  font-size: 12px;
}

.blog-tags {
  text-align: center;
}

.map {
  height: 500px;
  width: 100%;
}

.map iframe {
  height: 100%;
  width: 100%;
}

.about-page {
  padding: 3em 0;
}

.about-page .informations .page-title {
  margin-bottom: 0.5em;
}

.about-page .informations .overview {
  color: #666;
  margin-bottom: 2em;
}

.about-page .informations .service-title {
  margin-bottom: 0.25em;
}

.about-page .informations .services .service-item {
  list-style: none;
}

.contact-page {
  padding: 7.5em 0;
}

.contact-page .sec-head {
  margin: 0;
}

.contact-page form .input-group .input-group-text {
  color: #fff;
  background-color: #01b636;
  border: 1px solid #01b636;
  border-radius: 0;
}

.contact-page form .input-group .form-control {
  border: 1px solid #01b636;
  border-radius: 0;
  transition: 0.3s;
}

.contact-page form .input-group .form-control:focus {
  box-shadow: none;
  color: #fff;
  background-color: #15a752;
}

.contact-page form .input-group .form-control:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.contact-page .social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: #777;
  margin: 0;
}

.contact-page .social-links .list-item {
  background-color: #01b636;
  margin-bottom: 0;
  border: 1px solid #15a752;
  line-height: auto;
  border-radius: 0.5em;
  overflow: hidden;
  transition: 0.3s;
}

.contact-page .social-links .list-item .link {
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.contact-page .social-links .list-item:hover {
  background-color: #fff;
  border: 1px solid #01b636;
}

.contact-page .social-links .list-item:hover .link {
  color: #01b636;
}

.contact-page .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-page .contact .fitem {
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: 0.3s;
}

.contact-page .contact .fitem:hover {
  color: #15a752;
}

.contact-page .contact .address {
  margin: 1em 0;
  color: #666;
}

.contact-page .contact .link {
  text-decoration: none;
  color: #666;
}

.contact-page .contact svg {
  flex-shrink: 0;
  color: #15a752;
}

.appointment-page {
  padding-top: 4em;
}

.appointment-page form .input-group .input-group-text {
  color: #fff;
  background-color: #01b636;
  border: 1px solid #01b636;
  border-radius: 0;
}

.appointment-page form .input-group .form-control {
  border: 1px solid #01b636;
  border-radius: 0;
  transition: 0.3s;
}

.appointment-page form .input-group .form-control:focus {
  box-shadow: none;
  color: #fff;
  background-color: #15a752;
}

.appointment-page form .input-group .form-control:focus::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.appointment-page .recent-blogs {
  padding: 2em 0;
}

.our-journey .carousel-indicators {
  display: flex;
  position: relative;
  margin: 0;
  margin-bottom: 2.5em;
  justify-content: space-between;
}

.our-journey .carousel-indicators::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 1px;
  right: 1px;
  height: 1px;
  border-top-width: 5px;
  border-top-style: solid;
  border-color: #01b636;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .our-journey .carousel-indicators::after {
    border-top-width: 1px;
  }
}

.our-journey .carousel-indicators li {
  color: #15a752;
  background-color: #fff;
  text-indent: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 5px solid #01b636;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  .our-journey .carousel-indicators li {
    border: 1px solid #01b636;
    height: 2em;
    width: 4em;
    border-radius: 1em;
    padding: 0 5px;
    font-size: 14px;
  }
}

.our-journey .carousel-indicators .active {
  color: #fff;
  background-color: #15a752;
}

.our-journey .carousel-indicators [data-bs-target] {
  opacity: 1;
}

.our-journey .carousel-inner .carousel-item {
  height: auto;
}

@media screen and (max-width: 767px) {
  .our-journey .carousel-inner .carousel-item .col {
    flex: 1 0 100%;
  }
}

.pharmacy-form {
  border: 1px solid #ededed;
  border-radius: 1em;
  padding: 3em;
}

.jump {
  position: fixed;
  left: 0;
  bottom: 85px;
  z-index: 232;
  background-color: #01b636;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

.jump:hover {
  background-color: #15a752;
}

.jump .icon {
  height: 50px;
  width: 50px;
  display: flex;
  place-items: center;
}

.jump .icon svg {
  height: 85%;
  width: 85%;
  color: #fff;
}

.bottom-navigator {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #15a752;
  border-top: 1px solid #fff;
  z-index: 1022;
}

.bottom-navigator .bn-navs {
  display: flex;
  justify-content: space-around;
}

.bottom-navigator .bn-navs .bn-nav {
  padding: 1em 1.5em;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.bottom-navigator .bn-navs .bn-nav:hover {
  background-color: #01b636;
}

.offcanvas {
  width: 75%;
}

.offcanvas .offcanvas-sidebar-contents {
  overflow-y: scroll;
}

.offcanvas .offcanvas-sidebar-contents .offcanvas-header {
  display: flex;
  align-items: center;
  border-bottom: 2.5px solid #01b636;
  height: 85px;
  padding: 0.5em 1em;
}

.offcanvas .offcanvas-sidebar-contents .offcanvas-header .logo {
  height: 40px;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group {
  padding-top: 2em;
  padding-bottom: 1em;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 {
  list-style: none;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-li1-link {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-li1-link:hover {
  color: #fff;
  background-color: #15a752;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-li1-link:hover svg {
  color: #fff;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-li1-link svg {
  color: #01b636;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-list-group2 {
  padding-left: 1em;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-list-group2 .oc-li2 {
  list-style: none;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-list-group2 .oc-li2 .oc-li2-link {
  display: block;
  padding: 0.5em 1em;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-list-group2 .oc-li2 .oc-li2-link:hover {
  background-color: #ededed;
}

.offcanvas .offcanvas-sidebar-contents .oc-list-group .oc-li1 .oc-list-group2 .oc-li2 .oc-li2-link svg {
  color: #01b636;
}

@media (max-width: 991.98px) {
  .offcanvas .offcanvas-collapse {
    position: fixed;
    z-index: 1021;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 80%;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    border-left: 1px solid #ededed;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.footer {
  background-color: #01b636;
  color: #fff;
  padding: 4em 0;
}

.footer .foo-title {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.footer .about {
  color: rgba(255, 255, 255, 0.75);
}

.footer .social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  color: #777;
  margin: 0;
}

.footer .social-links .list-item {
  background-color: #01b636;
  margin-bottom: 0;
  border: 1px solid #15a752;
  line-height: auto;
  border-radius: 0.5em;
  overflow: hidden;
  transition: 0.3s;
}

.footer .social-links .list-item .link {
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer .social-links .list-item:hover {
  background-color: #fff;
  border: 1px solid transparent;
}

.footer .social-links .list-item:hover .link {
  color: #01b636;
}

.footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .contact .fitem {
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: 0.3s;
}

.footer .contact .fitem:hover {
  color: #fff;
}

.footer .contact .address {
  margin: 1em 0;
  color: rgba(255, 255, 255, 0.75);
}

.footer .contact .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.footer .contact svg {
  flex-shrink: 0;
  color: #fff;
}

.copyright {
  background-color: #15a752;
  color: rgba(255, 255, 255, 0.9);
}

.copyright .container-xl .elements {
  text-align: center;
  padding: 1em;
}

.copyright .container-xl .elements .developer {
  color: #fff;
  text-decoration: none;
}

@keyframes fadeInRight {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(1em);
  }
  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}

.slick-track {
  padding: 1em 0;
}

.slick-slide {
  margin-right: 1em !important;
}
/*# sourceMappingURL=hitoisi.css.map */